@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;900&display=swap');
        
/* Create variable color, size */
:root{
    --white-text: #fff;
    --purple-card: #8C3CF22E;
    --purple: #151223;
    --title: 1.5rem;  /* ~ 24px */
    --text: 0.875rem; /* ~ 14px */
}
body{
    background-color: #151223;
}

.card-food-title{
    font-size: 1rem;
    font-weight: 700;
}
.card-food-text{
    font-size: 0.75rem;
    font-weight: 200;
}

.card{
    background-color: var(--purple-card);
    color: var(--white-text);
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    /* create shadow*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.card-img-top{
    border-radius: 10px 10px 0 0 ;
}

 /* Start a card film */
.card-title{
    font-weight: 700;
    font-size: var(--title); /* ~ 24px */
    margin: 5px 0;
}
.card-body > a {
    color: var(--white-text);
    text-align: center;
}
.card-body > a:hover{
    color: #3ca0f2;
    text-decoration: none;
}
.card-text{
     font-weight: 200;
     font-size: var(--text); /* ~ 14px */
}


/* End a card film */

/* Start a card ticket */
.table-ticket{
    color: var(--white-text);
    margin: auto;
    table-layout: fixed;
}
.card-ticket-title{
    font-size: 14px;
    margin: 5px 0;
    padding: 0 3rem;
}
.card-ticket-subtitle{
    font-weight: 200;
    padding-bottom: 18px;
}

.table-ticket td{
    padding: 0;
}
.card-ticket-text td{
    padding-bottom: 25px;
}
.line{
    position:absolute;
    top: 590px;
}
.qr-code{
    display: flex;
    justify-content: space-between;
    margin: 28px;
}
/* End a card ticket */

/* Start a card promotion */
.btn-promotion{
    padding: 0.5rem 2rem;
    text-align: center;
    background-color: #C8235D;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    
}


/* End a card promotion */