body{
    background: linear-gradient(#000000,#1096ba);  
    background-repeat: no-repeat;
}

.btn-xemthem{
    border-radius: 18px;
    background-color: #07a0b8;
    padding: 12px 20px;
    text-decoration: none;
}

.show-film{
    margin-top: 6.563em; 
}

.content-promotion-large img{
    height: calc(600px/2);
    width: 100%; 
    padding: 10px 15px;
    object-fit: fill; 
} 

.content-promotion-small img{
    height: calc(600px/3);
    width: 100%; 
    padding: 10px 15px;
    object-fit: cover; 
} 

.content-promotion img:hover{
    opacity: 0.6;
}

.heading-film{
    margin: 0 3px;
}
