*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    width: 308px;
    height: 623px;
    background: #1096ba 18%;
    border: 1px solid #131212;
    border-radius: 20px;
    font-size: 18px;
}
.ads{
    width: 308px;
    background: #1096ba 18%;
    border: 1px solid #131212;
    border-radius: 20px;
    font-size: 18px;
    
}   
.textads{
    color: #ffffff ;
    margin-left:20%
}
.imgads {

    margin-right:20%;

    margin-left:20%;

}


.button-css{
    width: 285px;
    height: 49px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(60, 193, 242, 0.7);
    font-weight: 600;
}

.button-css:hover{
    background: linear-gradient(180deg, #1096ba 0%,  rgba(8, 101, 124, 0.905) 72.66%, rgba(179, 31, 83, 0.87) 100%);
    color:white;
}

.button-css1:hover{
    background: linear-gradient(180deg, #1096ba 0%, rgba(8, 101, 124, 0.905) 72.66%, rgba(179, 31, 83, 0.87) 100%);
    color:white;
}

.button-css1{
    width: 285px;
    height: 52px;
    background: linear-gradient(180deg, rgba(8, 101, 124, 0.905) 72.66%, rgba(179, 31, 83, 0.87) 100%);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(85, 165, 162, 0.7);
    font-weight: 600;
    color: white;
}

.first{
    position: relative;
}   

.avatar-user{
    position: absolute;
    top: 5px;
    left: 30px;
}
.col-12{
    margin: 10px 0;
}

.row{
    margin: 40px -5px;
}

.row-2{
    margin: 40px -5px;
}

.logout-btn{
    color: #8C3CF2;
}