.footer{
	background-color: #151223;
	padding:40px;

}
.footer .logo{
	margin-bottom:40px;
	text-align: center;
}
.footer .info {
	display: flex;
	margin-bottom: 80px;
	align-items: flex-start;
}
.info_child{
	flex: 1;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	display: flex;
	justify-content: center;
}
.col-md-6 .offset-md-3{
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	text-align: center;
}
.info_child > .content{
	width: 100%;
}